.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.pull-left {
   margin-right: 25px;
}

mat-toolbar {
   overflow: hidden;
   position: sticky;
   top: 0;
   margin:0;
 }
 .lower-Text {
    font-size: 15px;
 }