<mat-toolbar color="primary">
  <span>NavBar</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a mat-stroked-button class="pull-left" *ngIf="!loggedIn" routerLink="/login">Login</a>
  <mat-form-field class="lower-Text" *ngIf="loggedIn">
    <mat-select placeholder="Quick menu">
      <mat-option *ngFor="let item of quickMenu" [value]="item.route" (onSelectionChange)="relocate($event, item.route)">
        {{item.component}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
