<div class="form">
<mat-card class="editMovie">
<form class="edit-form" [formGroup]="editMovie">
  <span>Edit movie</span>
  <hr>
  <mat-form-field class="expand-field">
    <input matInput type="text" placeholder="name" formControlName="name" required>
    <mat-error *ngIf="editMovie.hasError('required')">
        This field is required
    </mat-error>
    <mat-error *ngFor="let validation of edit_movie_validation_messages.name">
        <mat-error class="error-message" *ngIf="editMovie.get('name').hasError(validation.type) && (editMovie.get('name').dirty || editMovie.get('name').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="expand-field">
        <input matInput placeholder="release year" formControlName="year" id="year" name="year" required>
  </mat-form-field>

  <mat-form-field class="expand-field">
      <textarea matInput type="text" placeholder="content" formControlName="content" id="content" name="content" required>
      </textarea>
      <mat-error *ngIf="editMovie.hasError('required')">
          This field is required
      </mat-error>
      <mat-error *ngFor="let validation of edit_movie_validation_messages.content">
          <mat-error class="error-message" *ngIf="editMovie.get('content').hasError(validation.type) && (editMovie.get('content').dirty || editMovie.get('content').touched)">{{validation.message}}</mat-error>
      </mat-error>
  </mat-form-field>          
  <div class="container">
    <form [formGroup]="genreFormGroup">
        <ng-template matStepLabel>Add genre(s)</ng-template>
        <ng-select 
            [items]="genres"
            bindLabel="name"
            [multiple]="true"
            placeholder="Select movie genre(s)"
            formControlName="selectedGenre">
        </ng-select>

        <ng-select 
            [items]="directors"
            bindLabel="name"
            placeholder="Select movie director"
            formControlName="selectedDirector"
            required>
        </ng-select>

        <ng-select 
            [items]="actors"
            bindLabel="name"
            [multiple]="true"
            placeholder="Select movie actor(s)"
            formControlName="selectedActor"
            maxSelectedItems="3"
            dropdownPosition="top"
            required>
        </ng-select>

        <div class="rating-box">
            <span>Rate:</span>
            <star-rating-control 
              class="star-equal"
              formControlName="rating"
              (starClickChange)="onClick($event)"
              (ratingChange)="onRatingChange($event)"
              >
        </star-rating-control> 
        </div>
    </form> 
  </div>
  <div class="form-button" style="display:flex;flex-wrap: wrap;justify-content: space-around;">
      <a mat-raised-button color="primary" (click)="onSubmit()">Edit movie</a>
      <a mat-raised-button color="primary" (click)="onNoClick()">No, thanks!</a>
  </div>
</form>
</mat-card>
</div>
