<mat-card style="margin:15px 15%;">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title *ngIf="!areMoviesFilled">Sorry, we couldn't find your movie list.</mat-card-title>
        <mat-card-title *ngIf="areMoviesFilled">Add a new movie to your list.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-card-paragraph" *ngIf="!areMoviesFilled">Let's start by adding one. Click bellow!</p>
      <p class="mat-card-paragraph" *ngIf="areMoviesFilled">Click bellow to add new one!</p>
      <button mat-raised-button class="mat-primary pull-button" (click)="addMovie()">ADD</button>
    </mat-card-content>
</mat-card>

<div *ngIf="areMoviesFilled">
  <mat-card class="movie-card" *ngFor="let movie of movies">
    <div class="movie-header">
      <img mat-card-image src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/10/15/Pictures/_0d193ca4-d07a-11e8-b4cf-7c02492d3b0a.jpg">
    </div>
  <div class="movie-content">
    <mat-card-content>
      <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title style="margin-bottom: 25px;">{{ movie.name }}</mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected *ngFor="let genre of movie.genres">{{ genre.name }}</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
      </mat-card-header>
      <hr>
      <p class="mat-card-paragraph">
        {{ movie.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="mat-accent" (click)="editMovieDialog(movie)">EDIT</button>
        <button mat-raised-button class="mat-warn" (click)="deleteMovieDialog(movie)">DELETE</button>
    </mat-card-actions>
  </div>
  </mat-card>
</div>