.mat-card-box {
    margin-top:15px;
    margin-bottom: 15px; 
    margin-left: 15%; 
    margin-right: 30%; 
    display: flex; 
    justify-content: space-evenly;
}

.movie-card {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5%;
    margin-top:15px;
    margin-bottom: 15px; 
    margin-left: 5%; 
    margin-right: 15%; 
    justify-content: space-evenly;
}

.container {
    display:flex;
    justify-content: space-between;
}

.info {
    flex:40%;
}

.info-image {
    flex: 60%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    height: 100%;
}

mat-card-header {
    font-family: "Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif";
    margin-left:-10px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.movie-name {
    font-size: 1em;
}

mat-form-field {
    margin-left: 5%;
}

mat-card-title {
    margin-bottom: 15px;
}

.pull-button {
    border: 2px solid #3f51b5;
}

.movie-content {
    flex: 80%;
    padding-top: 20px;
    padding-left:25px;
    padding-right: 25px;
    width: 275px;
}

.content-center {
    text-align: center;
}

img {
    width: 100%;
    height: 50%;
    object-fit: fill;
    margin:0;
}

mat-card-actions {
    margin-top: 2em;
    margin-bottom: 0;
}

.genres-box {
    margin-top: 0.5em;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.button-box {
    justify-content: space-around;
    display: flex;
}

.rating-box {
    display: flex;
}
.star-rating {
    padding-top:15px;
    padding-left: 15px;
}
p.mat-card-paragraph {
    font-family: "Book Antiqua ,Palatino,Palatino Linotype,Palatino LT ST, Georgia, serif";
    margin-top: 30px;
    margin-bottom: 30px;
}

.mat-tab-group-box {
    background: rgba(255,255,255,0.46);
}

.table-actions-box {
    margin-left:1.5%;
    margin-top:3%;
    margin-bottom: 2%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}

.mat-input-underline {
    text-shadow: 1.5px 1.5px #4CAF50;
    color: #000000;
    margin-right:5%;
}

.released-year-box {
    display: flex;
    justify-content: flex-start;
}

.material-icon-style {
  margin-top:10px;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    font-size: 15px;
    color: #3f51b5;
    padding: 7px;
    border-radius: 25px;
    display:block;
    font-style: italic;
}

.material-icon-style:hover .tooltip {
    visibility: visible;
}

.released-year-box>i{
    padding:17px;
}

button.add-button {
    background-color: rgba(255,255,255,0.66);
    color: black;
    border: 2px solid #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px 17px;
    margin-top:10%;
}
  
button:hover.add-button {
    background-color: #4CAF50; /* Green */
    color: rgba(255,255,255,0.88);
}