.movie-card {
    display: flex;
    flex-wrap: wrap;
    padding:0;
    margin: 15px 15%;
    padding-right: 5%;
}

.movie-header {
    flex: 20%;
    width: 400px;
    height: 300px;
    background-color: #808080;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
}

mat-card-header {
    font-family: "Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif";
    margin-left:-10px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.movie-name {
    font-size: 1em;
}

mat-card-title {
    margin-bottom: 15px;
}

.pull-button {
    margin-left: 30px;
}

.movie-content {
    flex: 80%;
    padding-top: 20px;
    padding-left:25px;
    padding-right: 25px;
    border-left: 2px solid black;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin:0;
}
mat-card-actions>button:first-of-type {
    margin-right: 50px;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.button-box {
    justify-content: space-around;
    display: flex;
}

.rating-box {
    display: flex;
}
.star-rating {
    padding-top:15px;
    padding-left: 15px;
}
p {
    font-family: "Book Antiqua ,Palatino,Palatino Linotype,Palatino LT ST, Georgia, serif";
}