<mat-horizontal-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Welcome</ng-template>
        <div class="center-form">
          <p>
            Glad to have you here, we hope you dont mind take a quick survey.
          </p>
            <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Add a movie name</ng-template>
        <div class="center-form">
          <mat-form-field class="expand">
            <input matInput placeholder="name" formControlName="name" id="name" name="name" required>
          </mat-form-field>
          <div class="button-space-between">
            <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary" matStepperNext>Next</button>
          </div>
      </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="genreFormGroup">
        <form [formGroup]="genreFormGroup">
          <ng-template matStepLabel>Add a movie genre(s)</ng-template>
          <div class="center-form" style="height: 300px;">
              <ng-select style="z-index: 1000;" 
                          [items]="genres"
                          bindLabel="name"
                          bindValue="id"
                          [multiple]="true"
                          placeholder="Select cities"
                          formControlName="selectedGenre">
              </ng-select>
            <div class="button-space-between">
              <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </div>
        </form>
      </mat-step>
    <mat-step [stepControl]="contentFormGroup">
        <form [formGroup]="contentFormGroup">
          <ng-template matStepLabel>Add a content to movie</ng-template>
          <div class="center-form">
            <mat-form-field class="expand2">
              <textarea matInput placeholder="content" formControlName="content" required></textarea>
            </mat-form-field>
            <div class="button-space-between">
              <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </div>
        </form>
      </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="center-form">
            You are now done, click submit for adding it to your amazing list!
          <div class="button-space-between">
            <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </mat-step>
  </mat-horizontal-stepper>